<div class="container_12">
  <div id="top">
    <div class="grid_3 ">
      <div class="phone_top">
        <span>Call us (02) 亥－戌－酉－申－未</span>
      </div><!-- .phone_top -->
    </div><!-- .grid_3 -->

    <div class="grid_6">
      <div class="welcome" *ngIf="!isLogin">
        Welcome Ninja you can <a [routerLink]="[ '/login' ]">login</a> or <a [routerLink]="[ '/register' ]">create an account</a>.
      </div><!-- .welcome -->
      <div class="welcome" *ngIf="isLogin">
        Welcome Ninja ~ ! Ready for being a Hokage?
      </div><!-- .welcome -->
    </div><!-- .grid_6 -->


  </div><!-- #top -->

  <div class="clear"></div>

  <header id="branding">
    <div class="grid_3">

        <h1 id="site_logo" ><a href="/" title=""><img style="width:80%" src="images/logoX2.png" alt="Online Store Theme Logo"/></a></h1>
        <h2 id="site_description">Online Store Theme</h2>

    </div><!-- .grid_3 -->

    <div class="grid_3">
      <form class="search">
        <input type="text" name="search" class="entry_form" value="" placeholder="Search entire store here..."/>
      </form>
    </div><!-- .grid_3 -->

    <div class="grid_6">
    <ul id="cart_nav">
        <li>
          <a class="cart_li" [routerLink]="[ '/shopping-cart' ]">Cart <span>$0.00</span></a>
          <ul class="cart_cont">
            <li class="no_border"><p>Recently added item(s)</p></li>
            <li>
              <a [routerLink]="[ '/catalog/product-view' ]" class="prev_cart"><div class="cart_vert"><img src="images/cart_img.png" alt="" title="" /></div></a>
              <div class="cont_cart">
                <h4>Caldrea Linen and Room Spray</h4>
                <div class="price">1 x $399.00</div>
              </div>
              <a title="close" class="close" href="#"></a>
              <div class="clear"></div>
            </li>

            <li>
              <a [routerLink]="[ '/catalog/product-view' ]" class="prev_cart"><div class="cart_vert"><img src="images/produkt_slid1.png" alt="" title="" /></div></a>
              <div class="cont_cart">
                <h4>Caldrea Linen and Room Spray</h4>
                <div class="price">1 x $399.00</div>
              </div>
              <a title="close" class="close" href="#"></a>
              <div class="clear"></div>
            </li>
      <li class="no_border">
  <a [routerLink]="[ '/shopping-cart' ]" class="view_cart">View shopping cart</a>
  <a [routerLink]="[ '/checkout' ]" class="checkout">Procced to Checkout</a>
      </li>
          </ul>
        </li>
      </ul>

      <nav class="private">
        <ul>
          <li><a href="#">My Account</a></li>
          <li class="separator">|</li>
          <li><a href="#">My Wishlist</a></li>
          <span *ngIf="!isLogin">
            <li class="separator">|</li>
            <li><a [routerLink]="[ '/login' ]" style="cursor: pointer;">Log In</a></li>
            <li class="separator">|</li>
            <li><a [routerLink]="[ '/register' ]" style="cursor: pointer;">Sign Up</a></li>
          </span>
          <span *ngIf="isLogin">
            <li class="separator">|</li>
            <li><a (click)="logout()" style="cursor: pointer;">Log Out</a></li>
          </span>
        </ul>
      </nav><!-- .private -->
    </div><!-- .grid_6 -->
  </header><!-- #branding -->
</div><!-- .container_12 -->

<div class="clear"></div>

<div id="block_nav_primary">
  <div class="container_12">
    <div class="grid_12">
      <nav class="primary">
        <a class="menu-select" href="#">Catalog</a>
        <ul>
          <li class="curent"><a [routerLink]="['/']">忍村</a></li>
          <li class="parent">
              <a href="#">忍術</a>
              <ul class="sub">
                <li><a [routerLink]="[ '/catalog/catalogGrid', 1, 0 ]" (click) = "ChangeCategory(1)">火遁</a></li>
                <li><a [routerLink]="[ '/catalog/catalogGrid', 2, 0 ]" (click) = "ChangeCategory(2)">水遁</a></li>
                <li><a [routerLink]="[ '/catalog/catalogGrid', 3, 0 ]" (click) = "ChangeCategory(3)">風遁</a></li>
                <li><a [routerLink]="[ '/catalog/catalogGrid', 4, 0 ]" (click) = "ChangeCategory(4)">土遁</a></li>
                <li><a [routerLink]="[ '/catalog/catalogGrid', 5, 0 ]" (click) = "ChangeCategory(5)">雷遁</a></li>
                <li><a [routerLink]="[ '/catalog/catalogGrid', 6, 0 ]" (click) = "ChangeCategory(6)">各種螺旋丸</a></li>
              </ul>
            </li>
          <li><a [routerLink]="[ '/catalog/catalogGrid', 7, 0 ]" (click) = "ChangeCategory(7)">幻術</a></li>
          <li><a [routerLink]="[ '/catalog/catalogGrid', 8, 0  ]" (click) = "ChangeCategory(8)">體術</a></li>
          <li><a [routerLink]="[ '/catalog/catalogGrid', 9, 0  ]" (click) = "ChangeCategory(9)">通靈之術</a></li>
          <li><a [routerLink]="[ '/catalog/catalogGrid', 10, 0  ]" (click) = "ChangeCategory(10)">封印之術</a></li>
          <li><a [routerLink]="[ '/catalog/catalogGrid', 11, 0  ]" (click) = "ChangeCategory(11)">仙術</a></li>
          <li class="parent">
            <a href="#">血繼限界</a>
            <ul class="sub">
                <li><a [routerLink]="[ '/catalog/catalogGrid' , 12, 0  ]" (click) = "ChangeCategory(12)">屬性融合</a></li>
                <li><a [routerLink]="[ '/catalog/catalogGrid' , 13, 0  ]" (click) = "ChangeCategory(13)">瞳術</a></li>
                <li><a [routerLink]="[ '/catalog/catalogGrid', 14, 0  ]" (click) = "ChangeCategory(14)">血繼淘汰</a></li>
                <li><a [routerLink]="[ '/catalog/catalogGrid', 15, 0  ]" (click) = "ChangeCategory(15)">血繼網羅</a></li>
                <li><a [routerLink]="[ '/catalog/catalogGrid', 16, 0  ]" (click) = "ChangeCategory(16)">其他</a></li>
              </ul>
          </li>
          <li class="parent">
              <a href="#">尾獸</a>
              <ul class="sub">
                  <li><a [routerLink]="[ '/catalog' ]">一尾守鶴</a></li>
                  <li><a [routerLink]="[ '/catalog' ]">二尾又旅</a></li>
                  <li><a [routerLink]="[ '/catalog' ]">三尾磯撫</a></li>
                  <li><a [routerLink]="[ '/catalog' ]">四尾孫悟空</a></li>
                  <li><a [routerLink]="[ '/catalog' ]">五尾穆王</a></li>
                  <li><a [routerLink]="[ '/catalog' ]">六尾犀犬</a></li>
                  <li><a [routerLink]="[ '/catalog' ]">七尾重明</a></li>
                  <li><a [routerLink]="[ '/catalog' ]">八尾牛鬼</a></li>
                  <li><a [routerLink]="[ '/catalog' ]">九尾九喇嘛</a></li>
                </ul>
            </li>

          <li class="parent">
            <a href="#">All pages</a>
            <ul class="sub">
              <li><a href="/">Home</a></li>
              <li><a [routerLink]="[ '/catalog/text-page' ]">Typography and basic styles</a></li>
  <li><a [routerLink]="[ '/catalog/catalogGrid' ]">Catalog (grid view)</a></li>
  <li><a [routerLink]="[ '/catalog/catalogList' ]">Catalog (list type view)</a></li>
  <li><a [routerLink]="[ '/catalog/product-view' ]">Product view</a></li>
  <li><a [routerLink]="[ '/shopping-cart' ]">Shoping cart</a></li>
  <li><a [routerLink]="[ '/checkout' ]">Proceed to checkout</a></li>
  <li><a [routerLink]="[ '/compare' ]">Products comparison</a></li>
  <li><a [routerLink]="[ '/login' ]">Login</a></li>
  <li><a [routerLink]="[ '/contact' ]">Contact us</a></li>
  <li><a [routerLink]="[ '/404' ]">404</a></li>
  <li><a [routerLink]="[ '/blog/posts' ]">Blog posts</a></li>
  <li><a [routerLink]="[ '/blog/post-view' ]">Blog post view</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .primary -->
    </div><!-- .grid_12 -->
  </div><!-- .container_12 -->
</div><!-- .block_nav_primary -->

<div class="clear"></div>
