<footer>
    <div class="f_navigation">
      <div class="container_12">
        <div class="grid_3">
          <h3>Basic Info</h3>
          <ul class="f_contact">
            <li>火之國, 木葉忍者村</li>
            <li>(02) 亥－戌－酉－申－未</li>
            <li>narutouo1111@gmail.com</li>
          </ul><!-- .f_contact -->
        </div><!-- .grid_3 -->

        <div class="grid_3">
          <h3>More Detail</h3>
          <nav class="f_menu">
            <ul>
              <li><a [routerLink]="['/about-us']">About Us</a></li>
            </ul>
          </nav><!-- .private -->
        </div><!-- .grid_3 -->

        <div class="grid_3">
          <h3>Costumer Servise</h3>
          <nav class="f_menu">
            <ul>
              <li><a href='/webmail'>Contact Us</a></li>
            </ul>
          </nav><!-- .private -->
        </div><!-- .grid_3 -->

        <div class="grid_3">
          <h3>My Account</h3>
          <nav class="f_menu">
            <ul>
              <li><a [routerLink]="['/profile-view']">My Account</a></li>
              <li><a [routerLink]="['/shopping-order']">Order History</a></li>
            </ul>
          </nav><!-- .private -->
        </div><!-- .grid_3 -->

        <div class="clear"></div>
      </div><!-- .container_12 -->
    </div><!-- .f_navigation -->

    <div class="f_info">
      <div class="container_12">
        <div class="grid_6">
          <p class="copyright">© Breeze Store Theme, 2012</p>
        </div><!-- .grid_6 -->

        <div class="grid_6">
          <div class="soc">
            <a class="google" href="https://www.google.com"></a>
            <a class="twitter" href="https://twitter.com"></a>
            <a class="facebook" href="https://www.facebook.com"></a>
          </div><!-- .soc -->
        </div><!-- .grid_6 -->

        <div class="clear"></div>
      </div><!-- .container_12 -->
    </div><!-- .f_info -->
  </footer>
