  <div class="container_12">
    <div class="grid_12">
      <div id="content">
        <br>
        <h1 class="page_title">不知道買什麼嗎？</h1>
        <br>
        <div id="test">
         <div class="tt">
            <img src="images/map/1.png"  alt=""usemap="#map">
            <map name="map">
                <area shape="circle" coords="112,59,60"  alt="Mercury" (click)="ck(6)">
                <area shape="circle" coords="823,228,45" alt="Venus" (click)="search('千鳥')">
            </map>
        </div>
        <div class="tt">
            <img src="images/map/2.png" usemap="#map2">
              <map name="map2">
                <area shape="circle" coords="159,170,20"  alt="Mercury" (click)="ck(13)">
                <area shape="rect" coords=" 700 , 50 , 900 , 500" (click)="ck(8)">
              </map>
            </div>

          <div class="tt">
                <img src="images/map/3.png" usemap="#map3">
                  <map name="map3">
                    <area shape="rect" coords=" 60 , 20 , 420 , 450"  (click)="ck(9)">
                    <area shape="rect" coords=" 700 , 20 , 1000 ,180" (click)="ck(11)">
                    <area shape="circle" coords="720,350,150" (click)="ck(16)" alt="Mercury">
                  </map>
              </div>
        </div><!-- .slider -->
        <div class="clear"></div>
      </div>


    </div><!-- .grid_12 -->
  </div><!-- .container_12 -->

  <div class="clear"></div>

