<div class="listing_product">

  <ng-container *ngFor="let item of Products; let i = index">
    <div class="product_li" *ngIf="i >= Index * 5 && i < Index * 5 + 5">
      <div class="grid_3">
        <img class="sale" src="images/new.png" alt="New"/>
        <div class="prev">
          <a  [routerLink]="['/catalog/product-view', i]"><img [src]=item.imgsrc alt="" title="" style="width:100%"/></a>
        </div><!-- .prev -->
      </div><!-- .grid_3 -->

      <div class="grid_4">
        <div class="entry_content">
          <a href="/product_page.html"><h3 class="title">忍術名稱</h3></a>
          <div class="review">
            <a class="plus" href="#"></a>
            <a class="plus" href="#"></a>
            <a class="plus" href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <span>1 REVIEW(S)</span>
          </div>
          <p>忍術介紹..............................</p>
          <a class="more" href="/product_page.html">Learn More</a>
        </div><!-- .entry_content -->
      </div><!-- .grid_4 -->

      <div class="grid_2">
        <div class="cart">
          <div class="price">
            <div class="price_new">550.00兩</div>
            <div class="price_old">725.00兩</div>
          </div>
          <a href="#" class="bay">學習忍術</a>
          <a href="#" class="obn"></a>
          <a href="#" class="like"></a>
        </div><!-- .cart -->
      </div><!-- .grid_2 -->

      <div class="clear"></div>
    </div><!-- .article -->
  </ng-container>
      <div class="clear"></div>
</div><!-- .listing_product -->


