<div class="grid_product">


<ng-container *ngFor="let item of Products; let i = index">
    <div class="grid_3 product">
      <img class="sale" src="images/new.png" alt="New"/>
      <div class="prev">
        <a [routerLink]="['/catalog/product-view', item.id]" ><img [src]="'http://localhost:8000/' + item.file_path" alt="" title="" style="width:100%"/></a>
      </div><!-- .prev -->
      <h3 class="title">{{item.name}}({{item?.level}})</h3>
      <div class="cart" style="position: relative">
        <div class="price">
          <div class="vert">
            <div class="price_new">${{item.price}}.00兩</div>
          </div>
        </div>
        <a class="add" (click)="addToCart(item)" style="position: absolute; right: 0">
          Add To Cart
        </a>
      </div>
    </div><!-- .grid_3 -->
</ng-container>
   <div class="clear"></div>
    </div><!-- .grid_product -->
<div class="clear"></div>
