<app-header></app-header>

<div class="container_12">
    <br />
    <h1 calss="page_title" style="font-weight: bold">About Us</h1>
    <br />
</div>

<section>
  <div class="container_12">
     <h1 class="page_title">什麼是忍術?</h1>
     <br />
     <div class="bottom_block about_as">
          <p style="font-size: 20px; line-height: 30px"><b style="font-size: 23px">忍術</b>是運用査克拉，直接將各種效果發揮在自己或對手身上的術，大部分須要結印。使用忍術，將其加入屬性等附加效果稱為「性質變化」。每個人都至少有一種容易修習的屬性，上忍等級的忍者幾乎都已習得兩種以上。修習性質變化，依資質不同，可能要花費數天或數年。 忍術中最常見的是五行遁術。</p>
          <br />
          <p style="font-size: 20px"><b style="font-size: 23px">忍者</b>想要使用術，基本上要製造出査克拉並結印才能使用。但也存在不需要査克拉或印的術。</p>
          <br />
          <p style="font-size: 20px; line-height: 30px">忍者能藉由他人指導、閱讀捲軸書籍、模仿他人等方式學習術。但血繼限界須要血緣或移植相關器官才能使用。</p>
          <br />
          <p><span style="font-size: 25px; color:peru">但是！現在多了購買的方式！！！</span></p>
      </div>
          <br /><br />
    </div><!-- #content_bottom -->
</section><!-- #main -->

<section>
    <div class="container_12">
       <h1 class="page_title">關於我們的忍術?</h1>
          <br />
          <div class="bottom_block about_as">
            <p style="font-size: 20px; line-height: 30px">身為要成為"<span style="color: red">影</span>"的忍者們，我們將提供眾多的忍術給您進行挑選，但要成為影並不是一件簡單的事。我們所有的商品都有各自的等級，
            消費者可以自己的忍者等級與相對應等級的忍術進行購買來提升自己的經驗值。</p>
            <br />
            <p style="font-size: 20px">下表是要成為影的您必看的經驗表</p>
          <table style="border: 1">
            <tr>
              <td><span style="font-size: 20px; font-weight: bold">EXP</span></td>
              <td><span style="font-size: 15px; font-weight: bold">100 exp</span></td>
              <td><span style="font-size: 15px; font-weight: bold">500 exp</span></td>
              <td><span style="font-size: 15px; font-weight: bold">3000 exp</span></td>
              <td><span style="font-size: 15px; font-weight: bold">20000 exp</span></td>
              <td><span style="font-size: 15px; font-weight: bold">Over 20000 exp</span></td>
            </tr>
            <tr>
                <td><span style="font-size: 20px; font-weight: bold">忍者</span></td>
                <td><span style="font-size: 15px; font-weight: bold">學生</span></td>
                <td><span style="font-size: 15px; font-weight: bold">下忍</span></td>
                <td><span style="font-size: 15px; font-weight: bold">中忍</span></td>
                <td><span style="font-size: 15px; font-weight: bold">上忍</span></td>
                <td><span style="font-size: 15px; font-weight: bold">影</span></td>
            </tr>
            <tr>
                <td><span style="font-size: 20px; font-weight: bold">忍術</span></td>
                <td><span style="font-size: 15px; font-weight: bold">D</span></td>
                <td><span style="font-size: 15px; font-weight: bold">C~D</span></td>
                <td><span style="font-size: 15px; font-weight: bold">B~D</span></td>
                <td><span style="font-size: 15px; font-weight: bold">A~D</span></td>
                <td><span style="font-size: 15px; font-weight: bold">S~D</span></td>
            </tr>
          </table>
        </div>
      </div><!-- #content_bottom -->
  </section><!-- #main -->

<section id="main" class="entire_width">
    <div class="container_12">
        <div class="grid_12">
          <h1 class="page_title">關於我們?</h1>
          <br />
          <div class="bottom_block about_as">
           <p style="font-size: 20px; line-height: 30px">致力讓您成為影的我們是一群對忍術也有著一股熱忱的大學生，希望用不同的方式讓您了解忍者之道，也就是購買我們的忍術。</p>
           <br />
           <p style="font-size: 20px; line-height: 30px">若有任何問題請不要吝嗇，趕快去 Contact Us 聯絡我們吧，將您的問題或需求提出，不管大大小小的意見或建議都是我們前進的原動力</p>
           <br />
           <p style="font-size: 30px; font-weight: blod; color: peru">您的支持是我們最大的動力！！！</p>
           <p style="text-align: right; font-weight: bold; font-size: 10px">NarutOuO Always by Your Side</p>
          </div>
           <br />
        </div>
      </div><!-- #content_bottom -->
  </section><!-- #main -->

  <div class ="clear"></div>

<app-footer></app-footer>
