<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<meta http-equiv="Content-Type" content="charset=utf-8" />
<style>
.mail .container{
 width:600px;
}
.mail{
 font-family:微軟正黑體;
 font-size:20px;
}
</style>
</head>
<div class="mail">
    <div class="container">
          <h1 class="page_title">忘記密碼</h1>
        <br>
    <form id="msg" name="msg" method="post" action="">
      <div class="form-group">
        <label for="nickname">姓名</label>
        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="輸入您的姓名" [(ngModel)]="user.name">
      </div>
      <div class="form-group">
        <label for="email">電子郵件信箱</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="輸入E-mail" [(ngModel)]="user.email">
      </div>
      <div class="form-group">
        <span *ngIf="str !== 'null' && str !== null">
            <label for="email">驗證碼</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="輸入E-mail" [(ngModel)]="user.email">
            <br>
            <button type="submit" class="btn btn-default" (click)="find()">驗證</button>
        </span>
      </div>
      <div style="align:right">
          <span *ngIf="str === 'null' || str === null">
            <button type="submit" class="btn btn-default" (click)="find()">找回密碼</button>
            </span>
      </div>
      <br>
    </form>
    </div>
</div>
