<section id="main" class="entire_width">
  <div class="container_12">
     <div class="grid_12">
     <h1 class="page_title">Shopping Cart</h1>

     <table class="cart_product">
      <tr>
       <th class="images"></th>
       <th class="bg name">Product Name</th>
       <!-- <th class="edit"> </th> -->
       <th class="price">Unit Price</th>
       <th class="bg qty">Qty</th>
       <th class="subtotal">Subtotal</th>
       <th class="bg close"> </th>
      </tr>
      <ng-container *ngFor="let item of shoppingCart; let i = index">
        <tr>
        <td class="images"><a href="/product_page.html"><img [src]="'http://localhost:8000/' + item.file_path" alt="Product 6"></a></td>
        <td class="bg name">{{item.product_name}}</td>
        <!-- <td class="edit"><a title="Edit" href="#">Edit</a></td> -->
        <td class="price">${{item.price}}.00</td>
        <td class="bg qty"><input type="text" name="" [(ngModel)]="item.quantity"
          (change)="update(item.id, item.quantity)"/></td>
        <td class="subtotal">${{item.total_price}}.00</td>
        <td class="bg close"><a title="close" class="close" (click)="deleteShoppingCart(item.id)"></a></td>
      </tr>
      </ng-container>
      <tr>
      </tr>
      <tr>
       <td colspan="7" class="cart_but">
        <button class="continue" [routerLink]="['/']"><span>icon</span>Continue Shopping</button>
       </td>
      </tr>
     </table>
     </div><!-- .grid_12 -->

     <div class="clear"></div>

     <div id="content_bottom" class="shopping_box">
      <div class="grid_4">
        <div class="bottom_block discount">
          <h3>Address</h3>
          <p>Enter your Address that we can deliver the goods to the destination</p>
            <p>
              <input type="text" name="" [(ngModel)]="address" placeholder="Axot's house"/>
            </p>
        </div><!-- .estimate -->
      </div><!-- .grid_4 -->

    <div class="grid_4">
      <div class="bottom_block discount">
        <h3>Phone Number</h3>
        <p>Enter your Phone Number</p>
          <p>
            <input type="text" name="" [(ngModel)]="phoneNumber" placeholder="0912345678"/>
          </p>
      </div><!-- .discount -->
    </div><!-- .grid_4 -->

      <div class="grid_4">
        <div class="bottom_block total">
        <table class="subtotal">
         <tr class="grand_total">
            <td>Total</td><td class="price">${{totalPrice}}.00</td>
          </tr>
        </table>
        <button class="checkout" (click)="createOrder()">PROCEED TO CHECKOUT</button>
        </div><!-- .total -->
      </div><!-- .grid_4 -->

      <div class="clear"></div>
    </div><!-- #content_bottom -->
    <div class="clear"></div>



  </div><!-- .container_12 -->
</section><!-- #main -->

<div class ="clear"></div>
