<div id="content" class="grid_9">
  <h1 class="page_title">Product List  <span style="color:coral">({{ResultsNumber}})</span> results</h1>

  <div class="options">
   <div class="grid-list">
    <a [ngClass]="{grid: true, curent: getUrl() === 0}" [routerLink]="changeRender(0)"  ><span>img</span></a>
    <a [ngClass]="{list: true, curent: getUrl() === 1}" [routerLink]="changeRender(1)" ><span>img</span></a>

  </div><!-- .grid-list -->


   <div class="sort" style="float: right; padding-right: 20%">
    <span class="sort-by" style="float: left; padding-top: 5%">Sort By:  </span>
    <button class="sortButton" (click)="ChangeSortKey('Name')"> Name </button>
    <button class="sortButton" (click)="ChangeSortKey('Level')"> Level </button>
    <button class="sortButton" (click)="ChangeSortKey('Price')"> Price </button>

    <a id="sortMethod" class="sort_up" (click)="ChangeSortMethod()">{{sortM}}</a>
   </div><!-- .sort -->
  </div><!-- .options -->

 <router-outlet></router-outlet>

  <div class="clear"></div>

  <div class="pagination">
   <ul>
    <li class="prev"><a (click)="changePage(Page - 1)" [routerLink]="changeLink(Page - 1)">←</a></li>
    <li *ngFor="let item of [].constructor(HowManyPages); let i = index"
    [ngClass]="{curent: pageActive === (i+1) }"
    (click)="changePage(i)"><a [routerLink]="changeLink(i)" >{{i + 1}}</a></li>
    <li class="next"><a (click)="changePage(Page + 1)" [routerLink]="changeLink(Page + 1)">→</a></li>
   </ul>
  </div><!-- .pagination -->
  <p class="pagination_info">Displaying {{Page + 1}} to {{HowManyPages}}</p>
 </div><!-- #content -->
