<div id="content" class="grid_9">
  <h1 class="page_title">{{Product?.name}}</h1>

<div class="product_page">
<div class="grid_4 img_slid" id="products">
  <img class="sale" src="images/sale.png" alt="Sale"/>
  <div class="preview slides_container">
    <div class="prev_bg" style="vertical-align: auto">
      <a>
        <img [src]="'http://localhost:8000/' + Product?.file_path"   title="" alt="" style="width:100%"/>
      </a>
    </div>
  </div><!-- .prev -->
</div><!-- .grid_4 -->

<div class="grid_5">
  <div class="entry_content">
    <div class="review">
      <span style="font-size: 15px">等級：</span>
      <ng-container *ngIf="Product">
        <a class="plus" *ngFor="let item of [].constructor(6 - Product?.level_id)"></a>
        <ng-container *ngFor="let item of [].constructor(Product.level_id - 1)">
          <a></a>
      </ng-container>
      </ng-container>

      <span>分類：<strong>{{Product?.category}}</strong></span>
    </div>
    <p style="font-size: 15px">{{Product?.description}}</p>
    <div class="ava_price">
      <div class="availability_sku">
        <div class="availability">
          Availability: <span>In stock</span>
        </div>
      </div><!-- .availability_sku -->

      <div class="price">
        <div class="price_new">${{Product?.price}}.00兩</div>
      </div><!-- .price -->
    </div><!-- .ava_price -->

    <div class="block_cart">

      <div class="cart">
        <a class="bay" (click)="addToCart(Product)">Add to Cart</a>
        <input type="text" name="" class="number" [(ngModel)]="Quantity"/>
        <span>Quantity:</span>
      </div>
      <div class="clear"></div>
    </div><!-- .block_cart -->

  </div><!-- .entry_content -->

</div><!-- .grid_5 -->

<div class="clear"></div>



<div class="clear"></div>

<div class="related">
  <div class="c_header">
    <div class="grid_7">
      <h2>Related Products</h2>
    </div><!-- .grid_7 -->

    <div class="grid_2">
      <a id="next_c1" class="next arows" href="#" style="display: block"><span>Next</span></a>
      <a id="prev_c1" class="prev arows" href="#" style="display: block"><span>Prev</span></a>
    </div><!-- .grid_2 -->
  </div><!-- .c_header -->

  <div class="list_carousel">

  <ul id="list_product" class="list_product">
    <ng-container *ngFor="let item of relatedProducts; let i = index">
    <li class="">
      <div class="grid_3 product">
        <img class="sale" src="images/sale.png" alt="Sale"/>
        <div class="prev">
          <a (click)="change(item.id)" ><img [src]="'http://localhost:8000/' + item.file_path" alt="" title="" /></a>
        </div><!-- .prev -->
        <h3 class="title">{{item.name}}({{item.level}})</h3>
        <div class="cart" style="position: relative">
          <div class="price">
            <div class="vert">
              <div class="price_new">${{item.price}}.00兩</div>
            </div>
          </div>
          <a class="add" (click)="addToCart(item)" style="position: absolute; right: 0">
            Add To Cart
          </a>
        </div>
      </div><!-- .grid_3 -->
    </li>
    </ng-container>
  </ul><!-- #list_product -->
  </div><!-- .list_carousel -->
</div><!-- .carousel -->
</div><!-- .product_page -->
<div class="clear"></div>

 </div><!-- #content -->
