<section id="main">
<div class="container_12">
    <div class="grid_12">
       <div class="breadcrumbs">
	      <a >Home</a><span>&#8250;</span><a >Category</a><span>&#8250;</span><span class="current">This page</span>
       </div><!-- .breadcrumbs -->
    </div><!-- .grid_12 -->
  </div><!-- .container_12 -->

  <div class="clear"></div>

    <div class="container_12">
        <router-outlet></router-outlet>
       <div id="sidebar" class="grid_3">
	      <aside id="categories_nav">
		     <h3>Categories</h3>

		     <nav class="left_menu">
			    <ul>
				   <li><a (click)="ChangeCategory(-7)">忍術 <span>({{CatalogNumber[0]}})</span></a></li>
				   <li><a (click)="ChangeCategory(7)">幻術 <span> ({{CatalogNumber[1]}})</span></a></li>
				   <li><a (click)="ChangeCategory(8)">體術 <span>({{CatalogNumber[2]}})</span></a></li>
				   <li><a (click)="ChangeCategory(9)">通靈之術 <span>({{CatalogNumber[3]}})</span></a></li>
           <li><a (click)="ChangeCategory(10)">封印之術 <span>({{CatalogNumber[4]}})</span></a></li>
           <li><a (click)="ChangeCategory(11)">仙術 <span>({{CatalogNumber[5]}})</span></a></li>
           <li><a (click)="ChangeCategory(-11)" >血繼限界 <span>({{CatalogNumber[6]}})</span></a></li>
				   <!-- <li class="last"><a href="#">Other <span>(135)</span></a></li> -->
			    </ul>
		     </nav><!-- .left_menu -->
	      </aside><!-- #categories_nav -->

	      <aside id="shop_by">
		     <h3>Shop By</h3>

		     <div class="currently_shopping">
			    <p>Currently Shopping by:</p>
			    <ul>
				   <li><a title="close" class="close" href="#"></a>Price: <span>$0.00 - $999.99</span></li>
				   <li><a title="close" class="close" href="#"></a>Manufacturer: <span>Apple</span></li>
			    </ul>

			    <a class="clear_all" href="#">Clear All</a>

			    <div class="clear"></div>
		     </div><!-- .currently_shopping -->

		     <h4>Category</h4>

		     <form action="#" class="check_opt">
			    <p><input class="niceCheck" type="checkbox" >For Home (23)</p>
			    <p><input class="niceCheck" type="checkbox" name="" value="">For Car (27)</p>
			    <p><input class="niceCheck" type="checkbox" name="" value="">For Office (9)</p>
		     </form>

		     <h4>Price</h4>

		     <form action="#" class="check_opt">
			    <p><input class="niceCheck" type="checkbox" name="" value="">0.00 - $49.99 (21)</p>
			    <p><input class="niceCheck" type="checkbox" name="" value="">$50.00 - $99.99 (7)</p>
			    <p><input class="niceCheck" type="checkbox" name="" value="">0$100.00 and above (15)</p>
		     </form>
	      </aside><!-- #shop_by -->

	      <aside id="specials" class="specials">
		     <h3>Specials</h3>

		     <ul>
			    <li>
				   <div class="prev">
					  <a href="/product_page.html"><img src="images/special1.png" alt="" title="" /></a>
				   </div>

				   <div class="cont">
					  <a href="/product_page.html">Honeysuckle Flameless Luminary Refill</a>
					  <div class="prise"><span class="old">$177.00</span>$75.00</div>
				   </div>
			    </li>

			    <li>
				   <div class="prev">
					  <a href="/product_page.html"><img src="images/special2.png" alt="" title="" /></a>
				   </div>

				   <div class="cont">
					  <a href="/product_page.html">Honeysuckle Flameless Luminary Refill</a>
					  <div class="prise"><span class="old">$177.00</span>$75.00</div>
				   </div>
			    </li>
		     </ul>
	      </aside><!-- #specials -->

	      <aside id="newsletter_signup">
		     <h3>Newsletter Signup</h3>
		     <p>Phasellus vel ultricies felis. Duis
		     rhoncus risus eu urna pretium.</p>

		     <form class="newsletter">
			    <input type="email" name="newsletter" class="your_email" value="" placeholder="Enter your email address..."/>
			    <input type="submit" id="submit" value="Subscribe" />
		     </form>
	      </aside><!-- #newsletter_signup -->
       </div><!-- .sidebar -->

      <div class="clear"></div>

    </div><!-- .container_12 -->
  </section>

  <div class="clear"></div>
