<div id = "container">
    <div class="header">
        <a href="#default" class="logo">
          Hi!
        </a>
        <div class="header-right">
          <a class="ShopCart">ShopCart</a>
          <a class = "Experience">Experience</a>

        </div>
      </div>

    <div class = "content">
      <div class = "side-picture">
        <u>Your picture</u><br>
        <img style = "margin-top: 20px;" src = "./images/product_9.png">
      </div>

      <div class = "main">
        <ul >
          <li class = "main-word">Username : Ng kaizhe</li>
          <li class = "main-word">Password : 123456</li>
          <li class = "main-word">Email : kaizhe1991@hotmail.com</li>
          <li class = "main-word">Level : 120</li>
        </ul>
      </div>
    </div>

    <div class = "footer">
      Footer part
    </div>
</div>
