<div class="container_12">
    <div class="grid_12">
       <div class="breadcrumbs">
	      <a href="/">Home</a><span>&#8250;</span><a href="#">Category</a><span>&#8250;</span><span class="current">This page</span>
       </div><!-- .breadcrumbs -->
    </div><!-- .grid_12 -->
  </div><!-- .container_12 -->

<section id="main">
  <div class="container_12">
    <router-outlet></router-outlet>

     <div id="sidebar" class="grid_3">
      <aside id="categories_nav">
       <h3>Blog Categories</h3>

       <nav class="left_menu">
        <ul>
         <li><a href="#">Entertainment</a></li>
         <li><a href="#">Fashion</a></li>
         <li><a href="#">Sports</a></li>
         <li><a href="#">Vacation</a></li>
         <li><a href="#">Movies</a></li>
         <li><a href="#">Relationships</a></li>
         <li class="last"><a href="#">Food</a></li>
        </ul>
       </nav><!-- .left_menu -->
      </aside><!-- #categories_nav -->

      <aside id="manufacturers">
       <h3>Archives</h3>

       <nav class="left_menu">
        <ul>
         <li><a href="#">August 2012</a></li>
         <li><a href="#">September 2012</a></li>
         <li><a href="#">October 2012</a></li>
         <li><a href="#">November 2012</a></li>
         <li class="last"><a href="#">December 2012</a></li>
        </ul>
       </nav><!-- .left_menu -->
      </aside><!-- #categories_nav -->

      <aside id="tags">
       <h3>Tags</h3>
       <a class="t1" href="">california</a>
       <a class="t2" href="">canada</a>
       <a class="t3" href="">canon</a>
       <a class="t4" href="">cat</a>
       <a class="t5" href="">chicago</a>
       <a class="t6" href="">christmas</a>
       <a class="t7" href="">mars</a>
       <a class="t8" href="">church</a>
       <a class="t9" href="">city</a>
       <a class="t10" href="">clouds</a>
       <a class="t11" href="">color</a>
       <a class="t12" href="">concert</a>
       <a class="t13" href="">dance</a>
       <a class="t14" href="">day</a>
       <a class="t15" href="">dog</a>
       <a class="t16" href="">england</a>
       <a class="t17" href="">europe</a>
      </aside><!-- #tags -->

      <aside id="newsletter_signup">
       <h3>Newsletter Signup</h3>
       <p>Phasellus vel ultricies felis. Duis
       rhoncus risus eu urna pretium.</p>

       <form class="newsletter">
        <input type="email" name="newsletter" class="your_email" value="" placeholder="Enter your email address..."/>
        <input type="submit" id="submit" value="Subscribe" />
       </form>
      </aside><!-- #newsletter_signup -->

      <aside id="banners">
  <a id="ban_next" class="next arows" href="#"><span>Next</span></a>
  <a id="ban_prev" class="prev arows" href="#"><span>Prev</span></a>

  <h3>Banners</h3>

  <div class="list_carousel">
    <ul id="list_banners">
      <li class="banner"><a href="#">
        <div class="prev">
          <img src="images/banner.png" alt="" title="" />
        </div><!-- .prev -->

        <h2>New smells</h2>

        <p>in the next series</p>
             </a></li>

      <li class="banner"><a href="#">
        <div class="prev">
          <img src="images/banner.png" alt="" title="" />
        </div><!-- .prev -->

        <h2>New smells</h2>

        <p>in the next series</p>
             </a></li>

      <li class="banner"><a href="#">
        <div class="prev">
          <img src="images/banner.png" alt="" title="" />
        </div><!-- .prev -->

        <h2>New smells</h2>

        <p>in the next series</p>
             </a></li>
    </ul>
  </div><!-- .list_carousel -->
      </aside><!-- #banners -->

     </div><!-- .sidebar -->

    <div class="clear"></div>

  </div><!-- .container_12 -->
</section>
