
<div class="container_12">
       <div id="content">

		<div class="grid_6 new_customers">
		<div class="grid_6">
			<form class="registed">
        <h2>Regist an Account</h2>
        <div class="User">
					<strong>User Name:</strong><sup class="surely">*</sup><br/>
					<input type="text" name="" class="" value="" />
				</div><!-- .email -->
				<div class="email">
					<strong>Email Adress:</strong><sup class="surely">*</sup><br/>
					<input type="email" name="" class="" value="" />
				</div><!-- .email -->

				<div class="password">
					<strong>Password:</strong><sup class="surely">*</sup><br/>
					<input type="text" name="" class="" value="" />
				</div><!-- .password -->

				<div class="submit">
					<input type="submit" value="Create" [routerLink]="[ '/login' ]"/>
				</div><!-- .submit -->
			</form><!-- .registed -->
                </div><!-- .grid_6 -->
       </div><!-- #content -->

      <div class="clear"></div>
    </div><!-- .container_12 -->
</div>


