<div id="content" class="grid_9">
    <h1 class="page_title">Our Blog</h1>

    <ng-container *ngFor="let item of articles">
    <article class="post">
      <h2 class="title_article"><a href="/blog_post.html">{{item.name}}</a></h2>
      <div class="content_article">
        <p>{{item.description}}</p>
      </div><!-- .content_article -->
      <div class="footer_article">
        <div class="number_c">3</div>
        <span>{{item.author}},
          <time datetime="2012-11-03"></time>
        </span>  |  <span>Posted in <a href="#">{{item.updated_at}}</a>
          <ng-container *ngFor="let x of item.category; let i = index">
            , <a href="#" *ngIf="i > 0">{{x}}</a>
          </ng-container></span>
      </div>
    </article>
    </ng-container>


    <div class="pagination">
         <ul>
          <li class="prev"><span>&#8592;</span></li>
          <li class="curent"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><span>...</span></li>
          <li><a href="#">100</a></li>
          <li class="next"><a href="#">&#8594;</a></li>
         </ul>
          </div><!-- .pagination -->
       </div><!-- #content -->
